<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Brainch {% block extratitle %}{% endblock extratitle %}</title>
    
    <link rel="stylesheet" href="{{ MEDIA_URL }}lib/css/reset.css" type="text/css" media="all" title="main" charset="utf-8" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/styles.css" type="text/css" media="all" title="main" charset="utf-8" />
    {% block extrahead %}{% endblock extrahead %}
    
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>
